@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-verbal: #fef3c7;
  --color-warn: #fed7aa;
  --color-kick: #fecaca;
  --color-ban_1day: #fbcfe8;
  --color-ban_perma: #e9d5ff;
}

body {
  font-family: 'Inter', sans-serif;
}

@layer components {
  .btn {
    @apply px-4 py-2 rounded font-medium transition-colors;
  }
  
  .btn-primary {
    @apply bg-blue-500 text-white hover:bg-blue-600;
  }
  
  .btn-danger {
    @apply bg-red-500 text-white hover:bg-red-600;
  }
}
